[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "rosbag2lerobot-svt"]
	path = rosbag2lerobot-svt
	url = https://github.com/weedmo/rosbag2lerobot-svt.git
	branch = main
